<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Moka.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BA53513DBBA87CC3FA531211FE9BA3320089AFB0</string>
				<key>dateExpires</key>
				<string>2018/10/11</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>37LL45K4YP.com.ohmoka.moka</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>37LL45K4YP</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Moka.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>597c53d0-49cc-4603-9906-f1e340ca77a5</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.ohmoka.moka</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>37LL45K4YP</string>
				<key>name</key>
				<string>Chengdu Moka Network Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
